@tailwind base;
@tailwind components;
@tailwind utilities;

html, body, #root {
  margin: 0;
  padding: 0;
  width: 100%;
  min-height: 100%;

  /* Native smooth scroll */
  scroll-behavior: smooth;

  /* Mobile momentum scrolling */
  -webkit-overflow-scrolling: touch;
}

/* MARQUEE */
.marquee-bg {
  background-image: url("/images/BG Aljabar.jpeg");
  background-repeat: repeat-x;
  background-size: auto 100%;
}

/* Hide scrollbar */
.scrollbar-hide::-webkit-scrollbar {
  display: none;
}

.scrollbar-hide {
  -ms-overflow-style: none;
  scrollbar-width: none;
}
